<ion-header padding>
  <ion-title> File Uploader</ion-title>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="navigateBack()">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>


<ion-content>
  <div class="center">
    <ion-card>
      <ion-card-header>
        <input type="file" (change)="filechanged($event)" /><br>
      </ion-card-header>

      <ion-card-content>
        <ion-textarea placeholder="Enter some description" [(ngModel)]="desc"></ion-textarea><br>
        <ion-button shape="round" color="primary" (click)="createPost()">POST</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>