<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Greg Thomson</ion-card-subtitle>
      <ion-card-title>Tron CEO Trolls (?) Vitalik, Teases Unlikely Ethereum Alliance - CCN</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Tron founder and CEO Justin Sun recently announced on the CryptoChick podcast that his crypto project would be officially collaborating with Ethereum.    Wait, what?  Justin Sun: Tron Will Collaborate with Ethereum This Year  Justin Sun appeared on an
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Reuters</ion-card-subtitle>
      <ion-card-title>Warren Buffett urges Wells Fargo to look beyond Wall Street for next CEO: FT - Investing.com</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Warren Buffett urges Wells Fargo to look beyond Wall Street for next CEO: FT
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>"https://www.facebook.com/zachary.shahan</ion-card-subtitle>
      <ion-card-title>Tesla Model 3 = 60% Of US Electric Vehicle Market - CleanTechnica</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Looking at pure electric vehicle sales in the United States, there's one clear takeaway — the Tesla Model 3 dominates
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Topdown Charts</ion-card-subtitle>
      <ion-card-title>Weekly S&P 500 ChartStorm - Bullish Breakouts, Big Pictures, And Breaking Even - Seeking Alpha</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        This week we look at a number of bullish signals from rebound road maps to breadth breakouts, breaking even, and golden crosses. We also highlight a couple of k
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>https://www.facebook.com/fox6news/</ion-card-subtitle>
      <ion-card-title>‘Experience focused retail:’ Wisconsin malls add amenities in effort to rebound - WITI FOX 6 Milwaukee</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        MADISON— Some urban and suburban malls are being revived through redevelopment that adds amenities, but that approach might not succeed in smaller Wisconsin markets where distressed malls are having a harder time coming back to life.\r\n\nBrookfield Square in su…
    </ion-card-content>
  </ion-card>

</ion-content>