<ion-content>
  <ion-slides pager>

    <ion-slide>
      <div class="diag">
        <ion-icon ios="ios-magnet" md="md-magnet" color="primary"></ion-icon>
      </div>
      <div>
        <h2>Welcome To CrossTrack</h2>
        <p>You were't born to do expenses.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="diag">
        <ion-icon ios="ios-analytics" md="md-analytics" color="primary"></ion-icon>
      </div>
      <div>
        <h2>Analyze</h2>
        <p>Get charts on your expenses.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="diag">
        <ion-icon ios="ios-pricetags" md="md-pricetags" color="primary"></ion-icon>
      </div>
      <div>
        <h2>Categorize</h2>
        <p>Categorize, tag, and group expenses into a report.</p>
      </div>
    </ion-slide>

  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <p (click)="login()" style="text-align: center;">Login</p>
      </ion-col>
      <ion-col size="6">
          <p (click)="register()" style="text-align: center;">Register</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-chip color="secondary" (click)="login()">
          <ion-label style="text-align: center;" color="dark">LOGIN</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="6" text-center>
        <ion-chip color="secondary" (click)="register()">
          <ion-label style="text-align: center;" color="dark">REGISTER</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->