ion-list{
    height:80%;
}

ion-grid {
  background-color: #27a47c;
}

ion-toolbar{
    background-color: #27a47c;
}

// ion-content{
//     --background:none;
//     background :url('../../assets/img/1.jpg');
//     background-size: cover;
//     background-position: center center;
// }